body {
    font-family: "Source Sans Pro";
    color: #424242;
}

main h3, main p, main ol {
    margin-left: 15rem;
    margin-right: 15rem;
}

main div {
    margin-top: 8rem;
}
main div h3 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: .1rem;
}

img {
    display: block;
    margin: 0 auto;
}

.persona {
    display: inline-flex;
    align-items: center;
    text-align: center;
    
}

.persona img {
    padding: 0 5px 0 5px;
    margin-left: auto;
    margin-right: auto;
}

/* grid sample */
.grid_container {
    display: grid;
    grid-template-columns: auto auto;
    /* padding: 10px; */
}

.grid_item {
    padding: 1px;
    text-align: center;
}

.persona_img {
    width: 100%;
}

em {
    font-weight: 900;
    background-color: #EEC218;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

/* nav menu */
nav img {
    position: fixed;
    top: 2rem;
    left: 5rem;
}

nav ul {
    width: 100%;
    position: fixed;
    left: 60rem;
    top: 2rem;
}

nav li {
    display: inline;
    padding-right: 2rem;
}

nav ul a {
    color: #767676;
    text-decoration: none;
}

nav ul a:hover {
    color: black;
}

/* Overview box */
#intro {
    padding: 2rem 15rem 4rem;
    background-color: #EEEEEEB3;
    margin-bottom: 8rem;
}

.boxes {
    display: flex;
}

.boxes .overview {
    padding-right: 80px;
}

#intro h2 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: .1rem;
}

#intro h3 {
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;
}

#intro .overview p {
    font-size: 18px;
    font-weight: 200;
}

#intro .other p {
    white-space: nowrap;
    margin-top: -5px;
}

/* Title */
.title {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 6rem;
}

.title h1 {
    font-family: "Roboto Slab";
    font-size: 3.5rem;
    margin: 1rem;
    color: #00355F;
}

.title h2 {
    font-size: 2rem;
}

.title p {
    font-size: 1.1rem;
    margin-bottom: 3rem;
}

/* video */
iframe {
    display: block;
    margin: 0 auto;
}
 /* emphasis */
.emphasis {
    background-color: #EEEEEEB3;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-left: 8rem;
}

.emphasis p {
    font-size: 18px;
    line-height: 1.6rem;
}

.emphasis#quote {
    padding: 4rem 15rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-color: #EEC218;
}

.emphasis#quote p {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

/* bottom navigation */
#next p {
    text-align: center;
    font-size: 25px;
    padding-bottom: 10rem;
}

#next p a {
    text-decoration: none;
    color: #767676;
    margin-left: 4rem;
}

#next p a:hover {
    color: #424242;
}

/* footer */
footer {
    margin: 3rem 13rem;
}
